.slideshow {
    max-width: 100%;
    margin: auto;
    padding-top: 70px;
}

.start-photo img {
    max-width: 100%;
    max-height: 550px;
    height: auto;
}

.dot {
    margin-right: 0.5%;
    height: 2px;
    width: 50px;
    background: #e6e6e6;
    border: none;
    outline: none !important;
    transition: background-color 2s ease;
    cursor: pointer;
}

.activeDot {
    background: #4d0026;
    cursor: pointer;
}

.container {
    margin-top: 100px;
}

.container .card i, .container .card h4 {
    color: #262626;
}

.container a, .container address, .container a:hover {
    color: #262626;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

#contact .card:hover i, #contact .card:hover h4 {
    color: #75a3a3;
}