.login-page {
    position: relative;
    margin: auto;
    top: 150px;
    width: 500px;
}

.form {
    position: relative;
    margin: 5% auto;
    padding: 5px 0;
    background-color: #75a3a3;
    border-radius: 5px;
}

.form h2 {
    font-weight: normal;
    text-align: center;
    color: #ffffff;
    margin: 25px 0 5px;
}

.form h4 {
    font-weight: normal;
    text-align: center;
    color: #ffffff;
    margin-top: 25px;
    margin-bottom: 5px;
}

.form hr {
    margin-top: 15px;
    margin-bottom: 40px;
    width: 250px;
    border-color: #ffffff;
}

.form .input-group {
    padding-left: 30px;
    padding-right: 30px;
}

.form .input-group span {
    background-color: #334d4d;
    border-color: #334d4d;
    color: #ffffff;
}

.form .input-group input {
    border: 1px solid #75a3a3;
    font-size: 14px;
}

.btn-customized {
    width: 150px;
    height: 40px;
    background-color: #334d4d;
    border-color: #334d4d;
    color: #ffffff;
    border-radius: 5px;
    margin-top: 30px;
    outline: none;
    cursor: pointer;
}

.btn-customized:hover, .btn-customized:focus, .btn-customized:active {
    color: #ffffff;
    border-color: #334d4d;
    outline: none !important;
}

/* for create form */
.form .input-group label, .form .input-group .applyLabel {
    padding: 6px 12px;
    width: 220px;
    height: 35px;
    flex-direction: column;
    background-color: #ffffff;
    border: 1px solid #75a3a3;
    color: grey;
    border-radius: 5px;
    font-size: 14px;
    outline: none !important;
}

input[type="checkbox"] {
    position: relative;
    float: left;
    margin-right: 15px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}