@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");
@import url("https://fonts.googleapis.com/css?family=Cairo&display=swap");

body {
    background-color: #ffffff;
}

.login-page {
    width: 600px;
    position: relative;
    top: 150px;
    margin: auto;
}

.form {
    position: relative;
    margin: 5% auto;
    padding: 5px 0;
    background-color: #75a3a3;
    border-radius: 5px;
}

.form h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    text-align: center;
    color: #ffffff;
    font-size: 3rem;
    margin-top: 25px;
    margin-bottom: 5px;
}

.form hr {
    margin-top: 15px;
    margin-bottom: 2.7rem;
    width: 250px;
    border-color: #ffffff;
}

.form .input-group {
    padding-left: 30px;
    padding-right: 30px;
}

.form .input-group span {
    background-color: #334d4d;
    color: #ffffff;
    border-color: #334d4d;
    border-radius: 5px 0 0 5px;
}

.form .input-group input {
    border: 1px solid #00796b;
    border-radius: 0 5px 5px 0;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

.btn-customized {
    width: 120px;
    height: 30px;
    background-color: #334d4d;
    margin-top: 30px;
    outline: none;
    color: #ffffff;
    border-color: #334d4d;
    border-radius: 12px;
}

.btn-customized:hover, .btn-customized:focus, .btn-customized:active {
    color: #ffffff;
    border-color: #334d4d;
    outline: none;
}