@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");
@import url("https://fonts.googleapis.com/css?family=Cairo&display=swap");

body {
    background-color: #ffffff;
}

.login-page {
    width: 500px;
    position: relative;
    top: 150px;
    margin: auto;
}

.form {
    position: relative;
    margin: 5% auto;
    padding: 5px 0;
    background-color: #75a3a3;
    border-radius: 5px;
}

.form h2 {
    font-weight: normal;
    text-align: center;
    color: #ffffff;
    margin-top: 25px;
    margin-bottom: 5px;
}

.form h4 {
    font-weight: normal;
    text-align: center;
    color: #ffffff;
    margin-top: 25px;
    margin-bottom: 5px;
}

.form hr {
    margin-top: 15px;
    margin-bottom: 2.7rem;
    width: 250px;
    border-color: #ffffff;
}

.form .input-group {
    padding-left: 30px;
    padding-right: 30px;
}

.form .input-group span {
    background-color: #334d4d;
    color: #ffffff;
    border-color: #334d4d;
}

.form .input-group input {
    border: 1px solid #75a3a3;
    font-size: 14px;
}

.form .input-group label {
    padding: 6px 12px;
    width: 220px;
    height: 35px;
    flex-direction: column;
    border: 1px solid #75a3a3;
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 14px;
    color: grey;
}

input[type="checkbox"] {
    position: relative;
    float: left;
    margin-right: 15px;
    border: 1px solid #75a3a3;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.btn-customized {
    width: 150px;
    height: 40px;
    background-color: #334d4d;
    margin-top: 30px;
    outline: none;
    color: #ffffff;
    border-color: #334d4d;
    font-size: 12px;
    border-radius: 5px;
}

.btn-customized:hover, .btn-customized:focus, .btn-customized:active {
    color: #ffffff;
    border-color: #334d4d;
    outline: none !important;
}