.container {
    margin-top: 100px !important;
}

.entityData {
    width: 800px !important;
    float: left;
}

.container h3 {
    margin: 15px 0;
    color: #262626;
    text-transform: uppercase;
}

.container h5 {
    margin: 15px 0;
    color: #262626;
}

.formInline {
    display: inline;
}

.container .align-right {
    text-align: right;
}

.container .tdButton, .formInline button {
    width: 150px;
    height: 40px;
    border-color: #334d4d;
    color: #262626;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.container .tdButton:hover, .formInline button:hover {
    background-color: #334d4d;
    border-color: #334d4d;
    color: white;
    outline: none;
    transition: background-color 1s ease;
    cursor: pointer;
}

.panel-table {
    margin: 50px 0;
    clear: both;
}

.panel-table .panel-body {
    padding: 0;
}

.panel-table .panel-body .table-bordered {
    border-style: none;
    margin: 0;
}

.panel-table .panel-body .table-bordered > thead > tr > th {
    text-align: center !important;
}

.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type {
    text-align: center;
    vertical-align: middle;
    width: 100px;
}

.panel-table .panel-body .table-bordered > thead > tr > th:last-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:last-of-type {
    border-right: 0;
}

.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:first-of-type {
    border-left: 0;
}

.panel-table .panel-body .table-bordered > tbody > tr:first-of-type > td {
    border-bottom: 0;
}

.panel-table .panel-body .table-bordered > thead > tr:first-of-type > th {
    border-top: 0;
}

.panel-table .panel-footer .pagination {
    margin: 0;
}

/*
used to vertically center elements, may need modification if you're not using default sizes.
*/
.panel-table .panel-footer .col {
    line-height: 34px;
    height: 34px;
}

.panel-table .panel-body .table-bordered > tbody > tr > td {
    line-height: 34px;
    vertical-align: middle;
}