.container {
    margin-top: 120px !important;
}


.btn-customized {
    width: 150px;
    height: 40px;
    background-color: #334d4d;
    margin-top: 30px;
    outline: none;
    color: #ffffff;
    border-color: #334d4d;
    font-size: 12px;
    border-radius: 5px;
}

.btn-customized:hover, .btn-customized:focus, .btn-customized:active {
    color: #ffffff;
    border-color: #334d4d;
    outline: none !important;
}

.container .float-right{
    text-align: right;
}


.container .align-right {
    text-align: right;
}

.container .align-right .inline {
    display: inline;
    text-decoration: none;
}

.panel-table {
    margin: 50px 0;
    float: none;
}

.panel-table .panel-body {
    padding: 0;
}

.panel-table .panel-body .table-bordered {
    border-style: none;
    margin: 0;
}

.panel-table .panel-body .table-bordered > thead > tr > th {
    text-align: center !important;
}

.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type {
    text-align: center;
    vertical-align: middle;
    width: 100px;
}

.panel-table .panel-body .table-bordered > thead > tr > th:last-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:last-of-type {
    border-right: 0;
}

.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:first-of-type {
    border-left: 0;
}

.panel-table .panel-body .table-bordered > tbody > tr:first-of-type > td {
    border-bottom: 0;
}

.panel-table .panel-body .table-bordered > thead > tr:first-of-type > th {
    border-top: 0;
}

.panel-table .panel-footer .pagination {
    margin: 0;
}

/*
used to vertically center elements, may need modification if you're not using default sizes.
*/
.panel-table .panel-footer .col {
    line-height: 34px;
    height: 34px;
}

.panel-table .panel-body .table-bordered > tbody > tr > td {
    line-height: 34px;
    vertical-align: middle;
}

#pagination tr {
    display: none;
}

#nav {
    margin-top: 30px;
    text-align: center;
}

#nav {
    margin-top: 30px;
    text-align: center;
}

#nav a {
    padding: 5px 17px;
    border-radius: 5px;
    color: #262626;
    font-weight: 500;
    text-decoration: none;
}

#nav a.active {
    background-color: #75a3a3;
}

#nav a:hover:not(.active) {
    background-color: #ddd;
}

.form .input-group label {
    padding: 6px 12px;
    width: 220px;
    height: 35px;
    flex-direction: column;
    border: 1px solid #75a3a3;
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 14px;
    color: grey;
}

input[type="radio"] {
    position: relative;
    float: left;
    border: 1px solid #75a3a3;
    color: #1e2f2f;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    text-align: center !important;
}