<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <display-name>Selection committee</display-name>
    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/selection_committee</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <context-param>
        <param-name>javax.faces.CONFIG_FILES</param-name>
        <param-value>/META-INF/context.xml</param-value>
    </context-param>

    <!--==================== Controller ====================-->
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>Controller</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>

    <!--============== Encoding support filter ==============-->
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>util.filter.EncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <servlet-name>Controller</servlet-name>
    </filter-mapping>

    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>

    <!--=================== Security filter ====================
	1) admin: admin commands
	2) user: user commands
	3) commons: commands for all roles
	4) out-of-control: commands without access control
	Delimiter - space/tab
    =========================================================-->
    <filter>
        <filter-name>CommandAccessFilter</filter-name>
        <filter-class>util.filter.CommandAccessFilter</filter-class>
        <init-param>
            <param-name>ADMIN</param-name>
            <param-value>adminPage facultyCreateChoice facultyCreate facultyUpdate facultyDelete getSubjects
                subjectCreateChoice subjectCreate subjectUpdate subjectDelete getApplicantById applicantUpdate
                applicantDelete applicationsGetByFacultyId
            </param-value>
        </init-param>
        <init-param>
            <param-name>USER</param-name>
            <param-value>signupDetails</param-value>
        </init-param>
        <init-param>
            <param-name>COMMON</param-name>
            <param-value>logout noCommand applicantPage</param-value>
        </init-param>
        <init-param>
            <param-name>OUT-OF-CONTROL</param-name>
            <param-value>setLanguage loginChoice login signupChoice signup getFaculties getFacultyById</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>CommandAccessFilter</filter-name>
        <servlet-name>Controller</servlet-name>
    </filter-mapping>

    <listener>
        <listener-class>util.listener.ContextListener</listener-class>
    </listener>

    <!--==================== Error page =====================-->
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/view/errorPage.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/view/errorPage.jsp</location>
    </error-page>
</web-app>
